@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 255 13% 5%;
    --foreground: 0 0% 88%;
    --card: 257 12% 11%;
    --card-foreground: 0 0% 88%;
    --popover: 257 12% 11%;
    --popover-foreground: 0 0% 88%;
    --primary: 260 60% 65%;
    --primary-foreground: 0 0% 100%;
    --secondary: 256 12% 18%;
    --secondary-foreground: 0 0% 98%;
    --muted: 256 12% 18%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 256 12% 18%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 256 12% 18%;
    --input: 256 12% 22%;
    --ring: 260 60% 65%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 255 13% 5%;
    --foreground: 0 0% 88%;
    --card: 257 12% 11%;
    --card-foreground: 0 0% 88%;
    --popover: 257 12% 11%;
    --popover-foreground: 0 0% 88%;
    --primary: 260 60% 65%;
    --primary-foreground: 0 0% 100%;
    --secondary: 256 12% 18%;
    --secondary-foreground: 0 0% 98%;
    --muted: 256 12% 18%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 256 12% 18%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 256 12% 18%;
    --input: 256 12% 22%;
    --ring: 260 60% 65%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body, html {
    @apply bg-background text-foreground;
    height: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  #root {
    height: 100%;
    width: 100%;
  }
}
