.estrenos-section {
    padding: 40px;
    text-align: center;
}

.peliculas-grid {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 25px;
    padding: 20px;
}

.pelicula-card {
    background: #1a1a1a;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
    transition: .3s;
    text-align: center;
}

.pelicula-card:hover {
    background: #242424;
    transform: scale(1.04);
}

.pelicula-card img {
    width: 100%;
    border-radius: 8px;
}

.pelicula-card h3 {
    font-size: 16px;
    margin-top: 10px;
    color: #ffffff;
}
