.hero {
    text-align: center;
    padding: 100px 20px;
    background: url('/img/banner.jpg') center/cover no-repeat;
    background-blend-mode: overlay;
    background-color: rgba(0,0,0,0.6);
}

.hero h2 {
    font-size: 48px;
    margin-bottom: 15px;
}

.hero p {
    font-size: 18px;
    width: 70%;
    margin: 0 auto;
}
