body {
    margin: 0;
    padding: 0;
    background: #121212;
    font-family: Arial, sans-serif;
    color: white;
    display: flex;
}

/* Sidebar */
.sidebar {
    width: 240px;
    background: #1e1e1e;
    height: 100vh;
    padding: 20px;
    box-sizing: border-box;
}

.sidebar h2 {
    margin-top: 0;
    color: #ffffff;
    font-weight: 500;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin-top: 25px;
}

.sidebar ul li {
    padding: 12px 10px;
    margin-bottom: 8px;
    border-radius: 6px;
    cursor: pointer;
    transition: .3s;
    background: #292929;
}

.sidebar ul li:hover {
    background: #3a3a3a;
}

#btnLogout {
    margin-top: 30px;
    width: 100%;
    padding: 12px;
    background: #ff5252;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

#btnLogout:hover {
    background: #d84343;
}

/* Content Area */
.content {
    flex: 1;
    padding: 30px;
}

.welcome-text {
    opacity: 0.8;
    margin-top: -10px;
}

.content-area {
    margin-top: 25px;
    background: #1b1b1b;
    padding: 20px;
    border-radius: 8px;
    min-height: 200px;
}

.table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table th, table td {
    padding: 10px;
    border-bottom: 1px solid #333;
    text-align: left;
}

.poster-mini {
    width: 50px;
    border-radius: 4px;
}

.btn-primary {
    background: #2196f3;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 6px;
    cursor: pointer;
}

.btn-edit {
    background: #4caf50;
    color: white;
    padding: 8px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.btn-delete {
    background: #f44336;
    color: white;
    padding: 8px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.btn-edit:hover { background: #3e8e41; }
.btn-delete:hover { background: #d32f2f; }


.select {
    padding: 10px;
    margin-bottom: 20px;
    background: #292929;
    color: white;
    border: none;
    border-radius: 5px;
}

.galeria-container {
    margin-top: 20px;
}

.imagenes-grid {
    margin-top: 25px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 20px;
}

.img-card {
    background: #222;
    padding: 10px;
    border-radius: 8px;
    text-align: center;
}

.img-card img {
    width: 100%;
    border-radius: 6px;
}

.img-card button {
    margin-top: 10px;
}

.reparto-container {
    margin-top: 20px;
}

.comentarios-container {
    margin-top: 20px;
}

.comentarios-list {
    margin-top: 20px;
}

.comentario-card {
    background: #222;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 15px;
}

.comentario-card p {
    margin: 5px 0;
}

.respuesta {
    font-size: 12px;
    opacity: 0.7;
}

