name: Deploy to EC2

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
      
    - name: Deploy to EC2
      uses: appleboy/ssh-action@v1.0.3
      with:
        host: ${{ secrets.EC2_HOST }}
        username: ec2-user
        key: ${{ secrets.EC2_SSH_KEY }}
        script: |
          cd /var/www/html
          sudo git pull origin main
          # Copiar archivos a los directorios de Nginx
          sudo cp -r sitio1/dist/* /var/www/html/sitio1/dist/
          sudo cp sitio2/index.html /var/www/html/sitio2/
          sudo cp sitio3/index.html /var/www/html/sitio3/
          sudo cp sitio4/index.html /var/www/html/sitio4/
          sudo systemctl reload nginx
