name: Deploy to Ubuntu Self-Hosted

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    # IMPORTANTE: Esto le dice a GitHub que use TU servidor, no los de ellos.
    runs-on: self-hosted

    steps:
    # 1. Este paso descarga el código automáticamente en la carpeta _work
    - name: Checkout code
      uses: actions/checkout@v4

    # 2. Instalar dependencias y reiniciar la app
    - name: Install and Restart PM2
      run: |
        # Entramos a la carpeta del sitio (ajusta si tu carpeta se llama distinto)
        cd sitio1
        
        # Instalar librerías nuevas si las hubiera
        npm install
        
        # Reiniciar la aplicación
        # Si la app ya existe, la reinicia. Si no, la inicia.
        pm2 restart api-sor || PORT=3000 pm2 start server.js --name "api-sor"
        
        # Guardar estado para que inicie sola si se reinicia el servidor
        pm2 save

    # 3. Recargar Nginx (Opcional, solo si cambiaste configuración de Nginx)
    - name: Reload Nginx
      run: |
        sudo nginx -t
        sudo systemctl reload nginx
